/* Cascading Style Sheet */
/* animation linear gradient background */

body {
    height: 110vh;
    /* add the following below↓ */
    background: linear-gradient(132deg, #ec5118cb, #1665c1);
    background-size: 400% 400%;
    animation: BackgroundGradient 20s ease infinite;
    color: white;
}

/* this is an addon for the container box↓↓ */

.container {
    width: 800px;
    height: auto;
    font-size: 20px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 80px;
    border-radius: 40px;
    box-shadow: 4px 4px 10px #61017F;
}

/* Center corresponding child elements within its grid area */

.center {
    display: flex;
    justify-content: center;
}

/* styling title */

/* add transparent ↓ */

.titleBG {
    background-color: transparent;
    /* background-color: rgb(80, 63, 230); */
}

/* remove background color and box shadow↓ */

.title {
    margin-top: 25px;
    font-size: 50px;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    /* background-color: rgb(80, 63, 230); */
    /* box-shadow: 5px 5px 10px black; */
    padding: 10px 10px 10px 10px;
    color: white;
}

/* add keyframes for animation on top↓ 
learn more at https://www.w3schools.com/css/css3_animations.asp */

@keyframes BackgroundGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.subtitle {
    color: white;
}

.extraMargin {
    margin-top: 25px;
}

.nameGenBG {
    margin-top: 50px;
    /* change background color↓ */
    background-color: #52474380;
    padding-bottom: 50px;
    /* add border-radius: ↓ */
    border-radius: 40px;
}

.nameGenFont {
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* change font size to smaller↓ */
    font-size: 24px;
    margin-top: 50px;
    /* change font color↓ */
    color: white;
    font-weight: bold;
}

.marginRight {
    margin-right: 30px;
}

/* Editing styling for btn group and NameGen Btn */

.btnSize {
    padding: 15px 15px 15px 15px;
    font-size: 30px;
}

.buttonPadding {
    font-size: 25px;
    /* change color text to white ↓ */
    color:white;
}

.btn:hover {
    /* change button hover color and text ↓ */
    background-color: #52474380;
    color: #ff33f1;
}

.btn {
    border-radius: 20px;

}

.footer {
    height: 50px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    color: white;
    /* changed font size ↓ */
    font-size: 30px;
    text-align: center;
}