#title {
    font-family: 'Monoton', cursive;
    font-size: 300px;
}

#name {
    font-family: 'Lobster', cursive;
    font-size: 60px;
    margin: 50px;
}

body {
    height: 100vh;
    background: linear-gradient(132deg, #ec5118cb, #1665c1);
    background-size: 400% 400%;
    animation: BackgroundGradient 20s ease infinite;
    color: white;
}

@keyframes BackgroundGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.glow {
    border: dotted white 20px;
    height: auto;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 50px #ff8383;
}

.glow:hover {
    box-shadow: 0px 4px 50px #8392ff;
}

.container {
    max-width: 800px;
    width: 100%;
}

.btnSize {
    padding: 15px 15px 15px 15px;
    margin-bottom: 50px;
   
}

.btn:hover {
    background-color: #52474380;
    color: #ff33f1;
}

.btn {
    border-radius: 20px;

}

.nameGenBG {
    background-color: #ffffff27;
    margin-top: 50px;
}

.footer {
    width: 100%;
    font-size: 15px;
    letter-spacing: 7px;
    text-align: center;
    text-transform: uppercase;
    padding: 25px 0;
}